---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
// src/components/SkillCard.astro
export interface Props {
  title: string;
  description: string;
  iconUrl?: string;
  icon?: AstroComponentFactory;
  class?: string;   
}

const { title, description, icon: Icon, iconUrl, class: className } = Astro.props;
---
<!-- skill-card bg-background rounded-lg p-6 -->
<div class={`bg-background rounded-lg p-6 ${className || ""}`}>
  
  {Icon && (
    <div class="w-12 h-12 flex items-center justify-center bg-primary rounded-md">
      <Icon class="w-6 h-6" aria-label={title} />
    </div>
  )}
  {iconUrl && (
    <div class="w-12 h-12 flex items-center justify-center bg-primary rounded-md">
      <img src={iconUrl} alt={title} class="w-6 h-6" />
    </div>
  )}
  <div>
    <h4 class="text-body-base mt-6 mb-2">{title}</h4>
    <p class="text-small text-body-light leading-[var(--leading-base)]">
      {description}
    </p>
  </div>
</div>